.u-detail {
    .u-detailInfo {
        width: 940px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 64px;
        .detailItem:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    /deep/ .el-textarea__inner{
        height: 62px !important;
    }
    .el-form {
        width: 430px;
        margin: 0 auto;
    }
}