package-lock.json
yarn.lock

dist
dist.tar.gz

webbank
webbank.tar.gz

sitTest
sitTest.tar.gz

uatTest
uatTest.tar.gz

ajax
ajax.tar.gz

.history
node_modules
_test/
.history
webidelib/lock/**
config/assets/**
src/views/test/
webidelib/img/test/

.idea/