  // $--block-primary: #07b6b5;
  // $--line-primary: #009aa6;

  // $--toolbar-c1: #09a9ab;
  // $--toolbar-c2: #11bab5;
  // $--toolbar-c3: #00c8b5;
  // $--toolbar-bg: #1d2636;
  // $--toolbar-select: #151d2a;

  $--complement-main: #f06b00;
  // $--complement-seconds: #357aa0;
  // $--complement-icon: #89a2b7;
  // $--complement-icon2: #98b2c7;
  // $--complement-icon3: #a8c1d6;

  $--func-success: #0cc71a;
  $--func-warning: #feaf03;
  $--func-danger: #f23f47;
  // $--func-info: #0096ff;
  // $--func-others: #6699ff;
  $--func-undefined: #909699;
  $--func-highlight: #ffd966;

  $--text-main: #333;
  $--text-normal: #5b5b5b;
  $--text-complement: #7f8c93;
  
  $--stroke-c1: #dddfe5;
  $--stroke-c2: #c8d0d4;

  $--icon-c1: #a9bdc7;


  $--bgc-default: #e7ecef;
  $--bgc-overlay: #d4dfe6;
  $--bgc-maincard: #e9f4fa;
  $--bgc-card: #eff7fb;
  $--bgc-search: #eff3f6;
  $--bgc-tabs: #f6f8f9;
  $--bgc-toolbar: #f7fafb;

  $--normal-white: #fff;

  $--input-disabled-color: #999999;
  $--input-disabled-bg-color: #eeeeee;
  $--input__inner-selection-bg-color: #BAD7FB;


// 主色 
$--main-Main1:#f06b00;

// 功能色
$--errr-tips:#f23f47;
$--warning-tips:#feaf03;
$--success-tips:#0cc71a;
$--tips-word:#4181fa;

//中性色
$--table-stripe:#fafafa;
$--table-tableHeader:#f3f3f3;
