.g-business-start {
  min-height: 100%;
  padding: 32px 24px;
  background-color: #fff;
  box-sizing: border-box;
  .op-btn {
    display: inline-block;
    cursor: pointer;
    color: #f06b00;
    height: 22px;
  }
}
.u-businessTable {
  margin: 0 20px;
}